* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Schibsted Grotesk", serif;
}

body {
    background-color: #E9E9EB !important;
}

.container {
    max-width: 90% !important;
    margin: auto;
}

.navbar-custom {
    background-color: #E9E9EB;
    padding: 15px;
}

.navbar-brand img {
    height: 50px;
}

.nav-link {
    display: flex;
    align-items: center;
    font-weight: 400;
    padding: 10px 15px !important;
    font-size: 14px;
    border: 0px;
    border-radius: 15px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-link:hover {
    background-color: #e9ecef;
    border-color: #ccc;
}

.contact-info .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    padding: 10px 20px;
    border: 0px;
    border-radius: 15px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease;
}

.contact-info .btn:hover {
    background-color: #e9ecef;
    border-color: #ccc;
}

.language-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 15px;
    height: 40px;
    width: 40px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.language-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 15px;
}

.language-selector img {
    width: 24px;
    height: 24px;
}

.language-indicator {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #007bff;
    color: white;
    font-size: 12px;
    font-weight: 400;
    border-radius: 15px;
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    display: flex !important;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.btn-download {
    display: flex !important;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.nav-link img {
    width: 22px;
    height: 22px;
}

.btn-phone {
    display: flex !important;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.btn-phone img {
    width: 22px;
    height: 22px;
}

.btn-download img {
    width: 22px;
    height: 22px;
}

.modal-content {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-body .language-options {
    padding: 0;
}

.modal-body .language-option {
    display: block;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.language-option img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.modal-body .language-option:hover {
    background-color: #f0f0f0;
    border-radius: 4px;
}

.modal-backdrop.show {
    backdrop-filter: blur(10px);
    z-index: 9999;
    position: relative;
}

.show {
    backdrop-filter: blur(10px);
}

.show2 {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
}

.footer-container {
    background-color: #fff;
    height: 60px;
    border-radius: 20px;
    margin: 40px 0px;
}

.footer-container p {
    color: rgba(102, 102, 102, 1);
    font-size: 14px;
}

.hide-sidebar {
    display: block;
    margin-bottom: 20px;
    background: rgba(233, 233, 235, 1);
    color: #fff;
    padding: 10px 15px;
    border: none;
    font-size: 14px;
    font-weight: 400px;
    cursor: pointer;
    color: #000;
    border-radius: 15px;
}

.filter {
    display: inline-block;
}

.hidden {
    display: none !important;
}

.sidebar {
    margin-top: 36px;
    width: 275px;
    background: rgba(239, 239, 240, 1);
    border-right: 1px solid #ddd;
    padding: 20px;
    display: none;
    border-radius: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

.card-info-modal {
    max-width: 60% !important;
}

.menu-item {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 5px;
    width: 235px;
    justify-content: space-between;
}

nav.navbar {
    transition: transform 0.3s ease-in-out;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.mt-60 {
    margin-top: 60px;
}

.submenu {
    display: none;
    padding-left: 20px;
    margin-top: 5px;
    border-left: 2px solid #ddd;
    margin-left: 40px;
    cursor: pointer;
}

.arrow {
    transition: transform 0.2s;
}

.arrow.rotate {
    transform: rotate(90deg);
}

.row {
    margin: 0px !important;
}

.bold {
    font-weight: bold;
}

.cursor-pointer {
    cursor: pointer;
}

.widget {
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-widget {
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-search {
    display: none;
}

.navbar-search {
    display: none;
}

.navbar-search-icon {
    display: none;
    border: 0px;
    background: none;
}

#searchInput2 {
    display: none;
}

.card-main-image {
    position: relative;
}

.card-sub-image {
    width: 100px;
}

.mobile-filter-div {
    display: none;
}

.card-title {
    color: var(--Black, #000);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.card-texts ul {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.card-texts ul li {
    color: var(--Gray, #666);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.modal-tabs {
    border-radius: 18px;
    background: var(--Alternative-White, #EFEFF0);
    padding: 12px 16px;
    z-index: 999;
}

.card-sub-image{
    cursor: pointer;
}

.card-sub-image.selected {
    border-color: #007bff;
    border-radius: 15px;
    background-color: #E9E9EB;
    padding: 10px;
}
.navbarModal{
    height: 90vh;
}

@media (max-width: 1200px) {
    .card-info-modal{
        max-width: 80% !important;
    }
}

@media (max-width: 576px) {
    .card-info-modal{
        max-width: 95% !important;
    }
}

@media (max-width: 768px) {
    .navbar-search {
            width: 100px !important;
        }
    .contact-info {
        flex-direction: column;
        gap: 10px;
    }

    .mobile-filter {
        flex-direction: column;
    }

    .mobile-filter-div {
        display: flex;
    }

    .modal-dialog{
        padding-top: 60px !important;
    }
                .modal-dialog-centered .modal-dialog {
                    padding-top: 50px !important;
                }

}
.lang-option.active {
background: var(--Body-Background, #E9E9EB) !important;
    
}
.modal-content {
    border-radius: var(--radius-l, 32px) !important;
    background: var(--White, #FFF);
    position: relative;
}

.modal-body {
    padding: 36px;
}

.close-modal {
    position: absolute;
    top: -53px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 16px 20px;
    border-radius: var(--radius-s, 18px);
    background: var(--Alternative-White, #EFEFF0);
    opacity: 1;
}
#navbarModal .modal-body{
    padding: 36px;
}
#navbarModal .nav-link{
    padding-top: 18px;
    padding-bottom: 18px;
}
#navbarModal .btn-phone{
        border-radius: var(--radius-m, 24px);
            border: 1px solid var(--Body-Background, #E9E9EB);
            padding: 18px 20px;
}
#navbarModal .langs div {
    border-radius: var(--radius-s, 18px);
        border: 1px solid var(--Body-Background, #E9E9EB);
        background: var(--White, #FFF);
        padding: 16px 20px;
}

@media (max-width: 992px) {
   .catalogue-datils-modal-centered{
    align-items: flex-start !important;
   }
    .navbar-search,
    .navbar-search-icon {
        display: flex;
    }

    .navbar-search {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border: 0px;
        padding: 10px;
        width: 150px;
    }

    .navbar-mobile-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .border-rad-search {
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }

    .modal-dialog{
        padding-top: 30px;
    }
}

@media (max-width: 460px) {
    .navbar-search {
        width: 120px;
    }
}